.vscode/
TutorialInfo/
Scenes/
Settings/
StarterAssets/
Packages/
Prefabs/
Library/
Logs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.sln
*.meta
*.asset
*.json
*.cache
*.txt
*.index
*.settings
*.dwlt
*.NETStandard*
Assembly*